<div class="main">
  <div class="container">
    <h1>Control Panel</h1>
    <p>Welcome back, <%= current_user.email %>!</p>
    <div class="row">
    <div class="col-md-4" id="main-menu">
      <h2>Audio Controls</h2>
      <strong>Status:</strong><br/>
      <button class="power">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </button><br/>
      <button type="button" class="btn btn-info">View/Edit Music</button><br/>
      <button type="button" class="btn btn-info">Upload Files</button><br/>
      <br/>
    </div>
    <div class="col-md-4" id="main-menu">
      <h2>Light Controls</h2>
      <strong>Status:</strong><br/>
      <button class="power">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </button><br/>
      <br/>
    </div>
    <div class="col-md-4" id="main-menu">
      <h2>Video Controls</h2>
      <strong>Status:</strong><br/>
      <button class="power">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </button><br/>
      <button type="button" class="btn btn-info">Watch Live Stream</button><br/>
      <button type="button" class="btn btn-info">View/Edit Videos</button><br/>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" id="main-menu">
      <h2>Your Account</h2>
      <button type="button" class="btn btn-info">Edit Information</button><br/>
      <button type="button" class="btn btn-info">Delete Account</button><br/>
      <br/>
    </div>
    <div class="col-md-6" id="main-menu">
      <h2>Connection</h2>
        <button type="button" class="btn btn-info">Edit Settings</button><br/>
      </button><br/>
      <br/>
    </div>
  </div>
    
  </div>
</div>