

<div class="main">
  <div class="container" id="mainpg">
    <h1>Image Gallery</h1>

    <% @images.each do |image| %>
   <%= image_tag "pictures/#{image.split('/').last}", :class => "s-img" %>
   <% image.slice! "app/assets/images/pictures/" %>
   <% image = :img_name %>
   <form method="get" action="/sendit">
      <%= text_field_tag :u_email, nil, :placeholder => 'Recipient e-mail address', :class => 'form-control' %>
      <%= hidden_field_tag :img_name %>
    <%= submit_tag "Send", :class => 'btn btn-info' %>
    </form>
 <% end %>

    
  </div>
</div>