@import "bootstrap-sprockets";
@import "bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Source+Sans+Pro');

 body {
 	font-family: 'Source Sans Pro', sans-serif;
 }

 .main {
 padding-top:20px;
 text-align:center;
 }

 button {
 	margin:5px;
 }

 #title {
 	font-family: 'Indie Flower', cursive;
 	font-size: 40px;
 	color: #ffffff!important;
 	background-color:#993366!important;
 }

 #top-nav {
 	background-color:#993366!important;
 	padding:5px;
 	color:#ffffff;
 }

 h1 {
 	font-family: 'Indie Flower', cursive;
 	font-weight:bold;
 	background-color:#ffcc99;
 	text-align:center;
 }

 h2 {
 	font-family: 'Indie Flower', cursive;
 	font-weight:bold;
 	text-align:center;
 }

 .power {
 	background-color:#f2f2f2;
 	color:orange!important;
 	font-size:40px;
 	border:0px;
 	padding-top:5px;
 }

 .logout {
 	padding:12px;
 	border:1px solid #ffffff;
 	border-radius:10px;
 	background-color:#993366!important;
 }

 #main-menu {
 	background-color:#f2f2f2!important;
 	text-align:center;
 	border:5px solid #ffffff!important;
 	border-radius:30px;
 }

  #top-menu a {
 	background-color:#993366!important;
 	text-align:center;
 	color:#ffffff!important;
 }